.all_products {
  display: flex;
  gap: 1rem;
  margin-top: 6rem;
}

@media (max-width: 670px) {
  .all_products {
    display: block;
  }

  .left {
    margin-top: 2rem;
  }
  .all_products .right {
    position: static;
  }
}

.left {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(213px, 1fr));
  gap: 1rem;
  flex: 7.5;
  position: relative;
  padding-bottom: 4rem;
}

.right {
  flex: 2.5;
  height: fit-content;
  position: sticky;
  top: 1rem;
}
