.productbox {
  margin-top: 3rem;
}

.productbox h2 {
  border-bottom: 1px solid rgb(223, 223, 223);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.deal_box {
  border: 1px solid hsl(0, 0%, 93%);
  padding: 30px;
  border-radius: 13px;
}

@media (min-width: 768px) {
  .deal_box {
    display: flex;
  }
}

.image_container {
  flex: 1;
}

.content {
  flex: 1;
}

.ratings {
}

.content h3 {
  font-size: 1rem;
  margin: 0.8rem 0 0.4rem;
}

.description {
  color: hsl(0, 0%, 47%);
  margin-bottom: 0.6rem;
  font-family: sans-serif;
}

.prices {
  color: var(--primary-color);
  font-size: 1.3rem;
}

.prices span {
  text-decoration: line-through;
  color: hsl(0, 0%, 47%);
  font-family: sans-serif;
}

.content button {
  border: none;
  background-color: var(--primary-color);
  padding: 0.4rem 0.8rem;
  color: white;
  font-size: 1.3rem;
  border-radius: 6px;
  margin: 0.7rem 0;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.content button:hover {
  background-color: rgb(72, 72, 72);
}

.count_sold {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.count_sold span {
  font-family: sans-serif;
  font-size: 1rem;
}

.progress {
  height: 10px;
  background-color: #dedede;
  border-radius: 10px;
  position: relative;
}

.progress::before {
  content: "";
  width: 40%;
  height: 4px;
  background-color: var(--primary-color);
  position: absolute;
  top: 50%;
  left: 5px;
  border-radius: 10px;
  transform: translateY(-50%);
}

.progress + p {
  text-transform: uppercase;
  font-size: 0.8rem;
  margin: 1rem 0 0.5rem;
}

.days_left {
  display: flex;
  gap: 1rem;
}

.days_left .box {
  flex: 1;
  max-width: 70px;
  background-color: #e3e3e359;
  border-radius: 10px;
  text-align: center;
  padding: 5px 10px;
  font-family: sans-serif;
}

.days_left .box p {
  font-size: 1.3rem;
  padding-bottom: 0.2rem;
}
.days_left .box span {
  font-size: 0.9rem;
  color: gray;
}
