.category_container {
  margin-top: 3rem;
  display: flex;
  gap: 2rem;
  overflow: auto hidden;
  scroll-snap-type: inline mandatory;
  overscroll-behavior-inline: contain;
}

.category_container::-webkit-scrollbar {
  width: 12px;
}

.category_container::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 20px;
  border: 5px solid white;
}

.category_container:hover::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 90%);
}

.category_box {
  border: 1px solid rgba(0, 0, 0, 0.097);
  gap: 1rem;
  border-radius: 10px;
  margin-top: 3rem;
  padding: 1rem;
  display: flex;
  min-width: 270px;
  scroll-snap-align: start;
}

.img_container {
  width: 52px;
  height: 52px;
  padding: 10px;
  background-color: #ededed;
  border: 1px solid rgba(0, 0, 0, 0.254);

  border-radius: 7px;
}

.category_box div:last-child {
  flex: 1;
  display: flex;
  font-size: 0.7rem;
  flex-direction: column;
  justify-content: space-between;
}

.category_box a {
  text-decoration: none;
  color: var(--primary-color);
}
