.minimal {
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 1024px) {
  .minimal {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) !important;
    gap: 1.5rem;
  }
}
