@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:ital,wght@0,600;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ff9ec5;
}

html {
  font-family: "Poppins", sans-serif;
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
    margin: auto;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 980px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.container {
  padding: 0 15px;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}
